<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whj.nb.nbmanager.dao.UserDao">
    <select id="login" parameterType="whj.nb.nbmanager.bean.UserInfo" resultType="whj.nb.nbmanager.bean.UserInfo">
        select * from user where username=#{username} and password=#{password}
    </select>
</mapper>