<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whj.nb.goodsdetail.dao.SkuDao">

    <resultMap id="skuMap" type="whj.nb.goodsdetail.bean.Sku">
        <id column="sku_id" property="sku_id"></id>
        <result column="check_time_id" property="check_time_id"></result>
    </resultMap>


    <select id="findByid" resultMap="skuMap">
        select sku.sku_id from sku where  sku.sku_id in
(select goods.sku_id from goods where  goods.good_id=#{id})
    </select>



</mapper>